:root {

--aside-color: rgba(255, 255, 254, 0.226);
--aside-text-color: white;

}


body {
    display: flex;
    max-width: 1800px;
    width: 100%;
    background-color: black;
    font-family: 'Oxygen', sans-serif;
}

.container {
    background: rgba(9, 163, 168);
    width: 90%;
    height: auto;
    max-width: 1780px;
    padding: 10px;
    margin-bottom: 10px;
}

.titulo {
    display: flex;
    width: 200px;
    margin-left: 25%;
    justify-content: center;
    text-align: center;
    border: solid 2px var(--aside-text-color);
}


.h2-title {
    width: 70%;
    padding: 10;
    text-align: center;
    justify-content: center;
    margin: 10px;

}

.logo {
    width: 30%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border-right: solid 2px var(--aside-text-color);
}

.container-head {
    color: var(--aside-text-color);
    background: rgb(3, 72, 75);
    width: 90%;
    height: auto;
    max-width: 350px;
    padding: 0px;
    margin-bottom: 10px;
}

.cabeza {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient( to bottom, var(--aside-color), rgba(255, 255, 254, 0.664) );
    border-radius: 4px;
    margin:  10px auto;
    padding: 10px;
    outline: solid 1px black; 
}

.info  {
    width: 90%;
    height: 300px;
    display: block;
    justify-content: center;
    background: linear-gradient( to bottom, var(--aside-color), rgba(255, 255, 254, 0.685) );
    border-radius: 4px;
    margin:  10px auto;
    padding: 10px;
    outline: solid 1px black;  
}

.contacto  {
    width: 90%;
    height: 300px;
    display: block;
    justify-content: center;
    background: linear-gradient( to bottom, var(--aside-color), rgba(255, 255, 254, 0.692) );
    border-radius: 4px;
    margin:  10px auto;
    padding: 10px;
    outline: solid 1px black; 
}

.lista-contacto {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    text-align: left;
    border-radius: 4px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}

.conocimientos {
    width: 90%;
    height: 300px;
    display: block;
    justify-content: center;
    background: linear-gradient( to bottom, var(--aside-color), rgba(255, 255, 254, 0.692) );
    border-radius: 4px;
    margin:  10px auto;
    padding: 10px;
    outline: solid 1px black;  
}

.underline {
    font-size: 25px;
    font-weight: bold;
    text-decoration: black;
    text-decoration-line: underline;
    justify-content: left;
    
}

.foto {
    display: block;
    border-color: black;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    height: 200px; 
    width: 200px; 
    margin-bottom: 10px;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.centro {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    box-shadow:  2px 2px 10px black;
    border-radius: 4px;
    background: linear-gradient(to right, rgba(255, 255, 254, 0.712), rgba(5, 9, 51, 0.568));
    margin:  10px auto;
    padding: 10px;
    outline: solid 1px black;

}

.columna {
    display: block;
    justify-content: left;
    align-content: left;
    text-align: left;
}

.clarito {
    color: rgba(128, 128, 126, 0.637)
}

/*----------------FORMULARIO--------------*/

.formulario {
    display: flex;
    justify-content: center;
    background: rgba(86, 236, 236, 0.705);
    width: 100%;
    max-width: 1880px;
}


.preguntas {
    margin: 10  auto;
    font-family: Arial, Helvetica, sans-serif;
}


