
body {
    background-color: black;
}

.container {
    background: rgba(9, 163, 168);
    width: 100%;
    height: auto;
    max-width: 1880px;
    padding: 10px;
    margin-bottom: 10px;
}

.cabeza {
    width: 300px;
    height: 300px;  
}

.underline {
    font-size: 25px;
    font-weight: bold;
    text-decoration: black;
    text-decoration-line: underline;
    justify-content: left;
    
}

.foto {
    display: block;
    border-color: black;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    height: 200px; 
    width: 200px; 
    margin-bottom: 10px;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.centro {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    background: rgba(255, 255, 254, 0.712);
    margin:  10px auto;
    padding: 10px;
    outline: solid 1px black;

}

.columna {
    display: block;
    justify-content: left;
    align-content: left;
    text-align: left;
}

/*----------------FORMULARIO--------------*/

.formulario {
    display: flex;
    justify-content: center;
    background: rgba(86, 236, 236, 0.705);
    width: 100%;
    max-width: 1880px;
}


.preguntas {
    margin: 10  auto;
    font-family: Arial, Helvetica, sans-serif;
}


