<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{{title}}}</title>
    <link rel='stylesheet' href='/stylesheets/contacto.css' />
</head>
<body>
<main class="holder">
            <div class="columna contacto left">
                <h2>Complete el siguiente formulario</h2>
                <form action="" method="" class="formulario">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="nombre" />
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="text" name="email" />
                    </p>
                    <p>
                        <label>Telefono</label>
                        <input type="text" name="telefono" />
                    </p>
                    <p>
                        <label>Comentario</label>
                        <textarea name="mensaje"></textarea>
                    </p>
                    <p className="centrar">
                        <input type="submit" value="Enviar" />
                    </p>
                </form>
            </div>
            <div class="columna right">
            <h2 class="decorado">Otras vias de contacto</h2>
            <p>Tambien sepueden comunicar con nosotros:</p>
            <ul>
                <li>Telefono: 11-2400-****</li>
                <li>Email: eze*****@gmail.com</li>
                <li>Instagram:</li>
            </ul>
        </div>
        </main>
    </body>
</html>